.button {
  height: 30px;
  color: var(--bs-red) !important;
  display: flex !important;
  align-items: center !important;
  justify-content: center !important;
}
.search {
  display: block !important;
  width: 250px !important;
  height: 40px !important;
}
.searchButton {
  display: none !important;
}
.container {
  position: relative !important;
}
@media only screen and (max-width: 768px) {
  .search {
    display: none !important;
  }
  .searchButton {
    display: block !important;
    height: 40px !important;
  }
}
