.grid {
  /* grid styles */
  margin: 10px;
  width: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(450px, 1fr));
  row-gap: 1em;
  column-gap: 50px;
  justify-items: center;
}
.main {
  width: 70%;
  margin: 30px;
  min-height: calc(100vh - 150px);
}
.tags {
  width: 25%;
  margin: 20px;
  position: fixed;
  right: 0;
}
.tagsContainer {
  background-color: rgb(100, 99, 99);
  color: white;
  border: 2px black;
  border-radius: 2%;
  height: 50vh;
}
@media only screen and (max-width: 1000px) {
  .tags{
    display: none;
  }
  .main{
    width: 100%;
  }
}
